body{
  background-image: url(../images/background.png);
}

.container{
  height: 700px;
  background-color: lightgreen;
}

.Title{
  text-align: center;
  padding: 40px;
  font-size: 75px;
  text-transform: uppercase;
  color: darkred;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 yellow;
}

#start{
  height: 100px;
  width: 300px;
  margin-left: 35%;
  margin-top: 10%;
}

#timer{
  color: red;
  margin-left: 30%;
  display: none;
}

#questions{
  text-align: center;
  padding: 20px;
  display: none;
}

label{
  font-size: 16pt;
}

#end{
  height: 100px;
  width: 300px;
  display: none;
}

#results{
  text-align: center;
  padding: 20px;
  color: yellow;
  display: none;
}